svg.dag {
    width: 100%; /* Set the width to 100% of its parent container */
    height: 100%; /* Set the height to 100% of its parent container */
    margin: 0 auto; /* Center the graph horizontally */
    display: block; /* Remove the default inline display */
    position: absolute;
    background: darkgray;

}

g.glob circle { /* Set the fill color of the nodes to white */
    stroke: #333; /* Set the stroke color of the nodes to dark gray */
    stroke-width: 1.5px; /* Set the stroke width of the nodes to 1.5 pixels */
    fill: dimgrey;
}

g.glob path {
    stroke: black; /* Set the stroke color of the edges to dark gray */
    stroke-width: 5px; /* Set the stroke width of the edges to 1.5 pixels */
    fill: white;
}


g.glob{
    width: 100%; /* Set the width to 100% of its parent container */
    height: 100%; /* Set the height to 100% of its parent container */
    margin: 0 auto; /* Center the graph horizontally */
    display: block; /* Remove the default inline display */
    position: absolute;
}
g.glob foreignObject {
    width: 800px;
    height: 800px;
    overflow: hidden;
}

